<!DOCTYPE html>
<html>

<head>
  <title>Mapa en Tiempo Real</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="header">
    <img src="/images/logo.png" alt="Logo">
  </div>

  <div class="controls-container">
    <div class="controls">
      <label for="timeRange">Ver historial de:</label>
      <select id="timeRange">
        <option value="1440">Últimas 24 horas</option>
        <option value="720">Últimas 12 horas</option>
        <option value="180">Últimas 3 horas</option>
        <option value="60">Última hora</option>
        <option value="30">Últimos 30 minutos</option>
        <option value="15">Últimos 15 minutos</option>
        <option value="10">Últimos 10 minutos</option>
        <option value="5">Últimos 5 minutos</option>
      </select>
    </div>

    <div class="distance-summary">
      <p>Distancia recorrida en el intervalo seleccionado: <span id="distance-current"><%= totalDistance ? totalDistance.toFixed(2) : '0' %> km</span></p>
    </div>
  </div>

  <div id="map"></div>

  <div class="distance-resume">
    <p>Distancia recorrida hoy: <span id="distance-day"><%= dailyDistances[new Date().toISOString().split('T')[0]] ? dailyDistances[new Date().toISOString().split('T')[0]].toFixed(2) : '0' %> km</span></p>
    <p>Distancia recorrida esta semana: <span id="distance-week"><%= Object.values(dailyDistances).reduce((a, b) => a + b, 0).toFixed(2) %> km</span></p>
    <p>Distancia recorrida este mes: <span id="distance-month"><%= Object.values(monthlyDistances).reduce((a, b) => a + b, 0).toFixed(2) %> km</span></p>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>
