body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    max-width: 150px;
    /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 8px;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.controls {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
}

.controls label {
    font-weight: bold;
    margin-right: 10px;
}

.controls select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.distance-summary {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 22px 15px;
    margin-left: 20px;
    width: 50%;
}

.distance-summary p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.distance-resume {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
}

.distance-resume p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.distance-resume span {
    font-weight: bold;
}

/* Añade esto a tu archivo CSS */
.leaflet-control-custom {
    background-color: #5c7067b3;
    border: 2px solid #5a7167;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.leaflet-control-custom img {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    #map {
        height: 400px;
    }
}